.headshot {
    height: 300px;
    width: 300px;
    border-radius: 150px;
    margin: 15px 0px;
    object-fit: cover;
}

.techStack {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: center;
}

.logo {
    width: 100px;
    height: auto;
}

#reactLogo, #cssLogo {
    height: 100px;
    width: auto;
}

.logo, #reactLogo, #cssLogo {
    margin: 20px;
}
